.form {
  margin: 20px;
}

.form input {
  display: block;
  border: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 20%;
}

/* .headshot {
  /* object-fit: cover; */
  /* width: 20%;
  margin: .5rem;
  border-radius: 10%;
} */
