.form {
  margin: 20px;
}

.form input {
  display: block;
  border: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 20%;
}

.headshot {
  object-fit: cover;
  width: 10%;
  margin: 1rem;
  border-radius: 10%;
}
